$default-color:#383838;
$light-blue: #f7fafc;
$light-grey: #d7e1e8;

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family:Arial, sans-serif;
  color:$default-color;
}

.loading {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.story {
    display:flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom:1px solid $light-grey;

    &:last-child { border:0; }
  
    .story-title {
        line-height: 1.1;
        a {
            font-size: 14px;  
            text-decoration:none;
        }
        a:link {
            color: $default-color;
        }
        a:visited {
            opacity:.7;
        }
    }
    .story-info {
        font-size:12px; 
        opacity:.8; 
    }
    
}

.avatar { 
    width:20px; 
    height:auto; 
}

@media screen and (min-width: 540px) {
    body { 
        background-color:$light-blue; 
    }
    
    .story-list {
        margin: 40px auto; 
        width:100%; 
        max-width:40rem;
        border-radius:4px; 
        border:1px solid $light-grey;
        background-color:white;
    }

    .story-text-container { 
        margin-left:15px;
        .story-info {
            display: flex;
            align-items: center;
        }
    }
    .arrow { display: block; width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 9px solid #f56565; }

}